<h2 mat-dialog-title style="border-bottom: 1px" class = "title-style"> Pokemon: {{data.name | titlecase}}  </h2>


<mat-dialog-contet>

  <mat-grid-list cols="2" >
<div>
  <ul>
    <span class = "span-style">DETAILS: </span>
    <li>Type: {{data.type}}</li>
    <li>Height/Weight: {{data.height}} / {{data.weight}}</li>
    <li>Signature ability: {{data.signatureAbility}}</li>
  </ul>

      <ul>
        <span class = "span-style">DOUBLE DAMAGE: </span>
        <li>from: {{doubleDamageFromForHTML}}</li>
        <li>to: {{doubleDamageToForHTML}}</li>
      </ul>

  <ul>
    <span class = "span-style">HALF DAMAGE: </span>
    <li>from: {{halfDamageFromForHTML}}</li>
    <li>to: {{halfDamageToForHTML}}</li>
  </ul>

  <ul>
    <span class = "span-style">NO DAMAGE: </span>
    <li>from: {{noDamageFromForHTML}}</li>
    <li>to: {{noDamageToForHTML}}</li>
  </ul>


</div>

  </mat-grid-list>
<!--  <div class="row">-->
<!--    <span class="col-sm-3">Type: {{data.type}}</span>-->
<!--    <span class="col-sm-3">Double damage from: {{data.doubleDamageFrom}}</span>-->
<!--    <span class="col-sm-3">Half damage from: {{data.halfDamageFrom}}</span>-->
<!--    <span class="col-sm-3">No damage from: {{data.noDamageFrom}}</span>-->
<!--    <span class="col-sm-3">Height/weight: {{data.height}} / {{data.weight}}</span>-->
<!--    <span class="col-sm-3">Double damage to: {{data.doubleDamageTo}}</span>-->
<!--    <span class="col-sm-3">Half damage to: {{data.halfDamageTo}}</span>-->
<!--    <span class="col-sm-3">No damage to: {{data.noDamageTo}}</span>-->
<!--    <span class="col-sm-3">Signature ability: {{data.signatureAbility}}</span>-->






<!--  </div>-->
</mat-dialog-contet>

<mat-dialog-actions style="border-top: 1px">
  <button mat-raised-button (click)="close()">Zatvori</button>
</mat-dialog-actions>
