<header>
  <div class="text-center" style="height: 100px; ">
    <h1 class="text-primary">
      Version 2
    </h1>
  </div>
</header>

<div>
  <input placeholder="Search by name" class="input-style" (keyup)="onChange($event.target.value)">
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table-striped">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="header-style"> Name</th>
      <td mat-cell *matCellDef="let row " class="cell-style"> {{row.name | titlecase}} </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef class="header-style"> Details</th>
      <td mat-cell *matCellDef="let row" class="cell-style">
        <button mat-icon-button matTooltip="Pokemon info" (click)="getDetails(row.name)"><img src="https://img.icons8.com/offices/30/000000/pokeball.png"></button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions] = "pageSizeOptions"
                 (page) = "pageEvent($event)"
                 [length] = "totalCount"
  ></mat-paginator>
</div>
