<header>
  <div class="text-center" style= "height: 100px; " >
    <h1 class = "text-primary" >
      Version 1
    </h1>
  </div>
</header>

<!--<mat-form-field>-->
<!--  <input matInput (keydown.enter)= "applyFilter($event)" placeholder="Name" name = "name" [(ngModel)]="name" )]>-->
<!--  <input matInput (keydown.enter)= "applyFilter($event)" placeholder="Type" name = "type" [(ngModel)]="type" )]>-->
<!--</mat-form-field>-->

 <div class="mat-elevation-z8">
   <table mat-table [dataSource]="dataSource" matSort>

     <!-- Name Column -->
     <ng-container matColumnDef="name">
       <th mat-header-cell *matHeaderCellDef class="header-style"> Name </th>
       <td mat-cell *matCellDef="let row " class="cell-style"> {{row.name}} </td>
     </ng-container>

     <!-- Type Column -->
     <ng-container matColumnDef="type">
       <th mat-header-cell *matHeaderCellDef class="header-style" > Type </th>
       <td mat-cell *matCellDef="let row" class="cell-style"> {{row.type}} </td>
     </ng-container>

     <!-- Height/Weight Column -->
     <ng-container matColumnDef="height/weight">
       <th mat-header-cell *matHeaderCellDef class="header-style"> Height/Weight </th>
       <td mat-cell *matCellDef="let row" class="cell-style"> {{row.height}} / {{row.weight}} </td>
     </ng-container>

     <!-- Signature Ability Column -->
     <ng-container matColumnDef="signature ability">
       <th mat-header-cell *matHeaderCellDef class="header-style"> Signature ability </th>
       <td mat-cell *matCellDef="let row" class="cell-style"> {{row.signatureAbility}} </td>
     </ng-container>

     <!-- Base experience Column -->
     <ng-container matColumnDef="base experience">
       <th mat-header-cell *matHeaderCellDef class="header-style"> Base experience </th>
       <td mat-cell *matCellDef="let row" class="cell-style"> {{row.baseExperience}} </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;">
     </tr>
   </table>

   <mat-paginator [pageSizeOptions] = "pageSizeOptions"
                  (page) = "pageEvent($event)"
                  [length] = "totalCount"
   ></mat-paginator>
 </div>
 <router-outlet></router-outlet>
