

 <header>
  <div class="text-center" style= "height: 100px; " >
    <h1 class = "text-primary" >
      Version 1
    </h1>
  </div>
</header>


 <input type="text" id="mySearch" onkeyup="searchFunction()" placeholder="Name">
  <br>
 <br>
 <br>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="name"> Name </th>
    <th class="name"> Type </th>
    <th class="name"> Height/Weight </th>
    <th class="name"> Signature ability </th>
    <th class="name"> Base experience </th>
    <th></th>
  </tr>
  </thead>
</table>
