

 <header>
  <div class="text-center" style= "height: 100px; " >
    <h1 class = "text-primary" >
      Version 1
    </h1>
  </div>
</header>

<!-- <div class="mat-elevation-z8" table>-->
<!--   <table mat-table  class="full-width-table" matSort aria-label="Elements">-->

<!--     &lt;!&ndash; Name Column &ndash;&gt;-->
<!--     <ng-container matColumnDef="name">-->
<!--       <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>-->
<!--       <td mat-cell *matCellDef="let row">{{row.name}}</td>-->
<!--     </ng-container>-->

<!--     &lt;!&ndash; Type Column &ndash;&gt;-->
<!--     <ng-container matColumnDef="type">-->
<!--       <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>-->
<!--       <td mat-cell *matCellDef="let row">{{row.type}}</td>-->
<!--     </ng-container>-->

<!--     &lt;!&ndash; Height/Weight Column &ndash;&gt;-->
<!--     <ng-container matColumnDef="Height/weight">-->
<!--       <th mat-header-cell *matHeaderCellDef mat-sort-header>Height/Weight</th>-->
<!--       <td mat-cell *matCellDef="let row">{{row.}</td>-->
<!--     </ng-container>-->

<!--     &lt;!&ndash; Signature ability &ndash;&gt;-->
<!--     <ng-container matColumnDef="signature ability">-->
<!--       <th mat-header-cell *matHeaderCellDef mat-sort-header> Signature ability</th>-->
<!--       <td mat-cell *matCellDef="let row">{{row.}</td>-->
<!--     </ng-container>-->


<!--     &lt;!&ndash; base experience &ndash;&gt;-->
<!--     <ng-container matColumnDef="base experience">-->
<!--       <th mat-header-cell *matHeaderCellDef mat-sort-header>Base experience</th>-->
<!--       <td mat-cell *matCellDef="let row">{{row.}</td>-->
<!--     </ng-container>-->

<!--     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--   </table>-->

<!--   <mat-paginator #paginator-->
<!--                  [length]="dataSource?.data.length"-->
<!--                  [pageIndex]="0"-->
<!--                  [pageSize]="100"-->
<!--                  [pageSizeOptions]="[10, 20, 100, 250]">-->
<!--   </mat-paginator>-->
<!-- </div>-->
